@charset "utf-8";
body,html{ min-width: 1240px; }
*{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,table,ul,li,form,input{ margin:0; padding:0; color:#000; font-family:"Microsoft yahei"; }

body,p{ font-size:14px; border:none;}
a{ font-size:14px; color:#999; text-decoration:none; border:none; padding:0; margin:0;}
table{border-collapse:collapse;}
img{ border:0; margin:0; padding:0;}
ul,li{ list-style:none; border:0; margin:0; padding:0;}
dl,dt,dd{ margin:0; padding:0; -webkit-margin-start:0;}
h1,h2,h3,h4,h5{ font-weight:normal; font-size:12px; display:block;}
strong,b{ font-weight:normal;}
table,tr,td{ border-spacing:0;}
em,i,b{ font-style:normal;}
p{ line-height: 170%; color: #555; font-size: 14px;}
input{ border: none; background: none; }
figcaption{ display: block;}
input:focus{ outline: none; }
::-webkit-input-placeholder { /* WebKit browsers */ font-size:14px; color: #dfdfdf; } 
::-ms-input-placeholder { /* Internet Explorer 10+ */ font-size:14px;color: #dfdfdf; } 
.fl{float:left;}
.fr{float:right;}
.clearfix{*zoom:1;} 
.clearfix:before,.clearfix:after{display:table; line-height:0; content:"";}
.clearfix:after{clear:both;}
.w1240{ width: 1240px; margin: 0 auto; }


.top{ padding: 20px 0 10px 0;}
.top-left .div2{ border-left: 1px solid #d9d9d9; padding-left: 20px; margin-left: 20px; margin-top: 17px;} 
.top-left .p1{ font-size: 16px; color: #000}
.top-left .p2{ font-size: 20px; color: #000}
.top-right { padding-right: -18px;}
.top-right .fl{ padding: 0 18px; text-align: center;}
.top-right .fl img{ display: inline-block; }
.top-right>div.fl{ position: relative;}
.top-right .hefei{ color: #333; font-size: 15px;}
.top-right li a{  color: #666; font-size: 14px; display: block; margin: 10px 0; transition: all 0.6s;}
.top-right ul{ display: none; position: absolute; right: 0; left: 0; top: 70px; background: #f5f5f5; z-index: 33;} 
.top-right li:hover a{ color: #000;}

.subbar { margin-left: -35px;}
.subbar li{ float: left; position: relative; padding: 20px 30px; margin-right: 8px;}
.subbar li>a{ font-size: 16px; color: #000; transition: all 0.6s; }
.subbar li div{ display: none; position: absolute; top:60px; left: 0; right: 0; background: #DE0024; z-index: 333;}
.subbar li:hover>a{ color: #de0024;}
.subbar li div a{ display: block; text-align: center; padding: 10px 0; font-size: 14px; color: #fff; transition: all 0.36s;}
.subbar li div a:hover{ transform: translateX(5px);}

.maibar .p1{ text-align: right; color: #333; font-size: 14px; padding-bottom: 5px;}

.banner{ position: relative;  width: 100%; height: 700px; overflow: hidden; margin-top: 10px; }
.banner .prev{ display: block; position: absolute; left: 20px; top: 45%; font-size: 46px; color: #fff; 
z-index: 3; cursor: pointer; font-family: "新宋体"; width:50px; height: 100px;}
.banner .next{ display: block; position: absolute; right: 20px; top: 45%; font-size: 46px; color: #fff; 
z-index: 3; cursor: pointer; font-family: "新宋体"; width:50px; height: 100px; cursor: pointer;}
.banner .hd{ position: absolute; bottom: 20px; text-align: center; width: 100%; height: 10px; display: none;}

.hot-sou{box-shadow: 0 0 5px 1px rgba(0,0,0,0.1); padding: 30px 0;}
.hot-sou span{ font-size: 15px; color: #000; height: 30px; line-height: 30px;}
.hot-sou .txtScroll-left a{ display: block; color: #666; font-size: 13px; height: 30px; line-height: 30px;  transition: all 0.6s; 
padding: 0 10px;}
.hot-sou .txtScroll-left a:hover{ color: #DE0024;}
.hot-sou span img{ display: inline-block; vertical-align: middle; margin-right: 10px;}

.sou-div{ height: 40px; width: 350px;  background: #F5F5F5; border-radius: 100%; display: block;}
.sou-div input[type=text]{ display: block; width:280px ; height: 40px; padding-left: 10px; background: #f5f5f5;
 color: #888; font-size: 13px;}
.sou-div .sub{ display: block; background: #DE0024 url(../img/zoom.png) no-repeat center; height: 40px; width: 60px; cursor: pointer;}


.title{ padding:0 0 40px 0; background: url(../img/tit.png) no-repeat top center;  }
.title h3{ font-size: 22px; color: #333; width: 260px; text-align: center; margin: auto auto; padding-top: 10px;}
.title h2{ text-align: center; font-size: 32px; color: #DE0024; font-weight: bold; padding:15px 0 10px 0;}
.title p{ text-align: center; color: #666; font-size: 14px;}

.pro-center{ background: #F5F5F5; padding: 50px 0;}
.proleft{ width: 280px; background: #fff; padding-top: 30px;}
.proleft .lefttit-bg{ background: #DE0024; width: 220px;  padding-left: 40px; padding-bottom: 20px;}
.proleft .p1{ font-size: 30px; font-weight: bold; color: #DE0024;  padding-left: 40px; line-height: 1; padding-bottom: 10px;}
.proleft .p2{ font-size: 30px; font-weight: bold; color: #fff;}
.proleft .p3{ font-size: 18px; font-weight: bold; color: #fff;}
.pro-center .leftmore{ border-top: 1px solid #eee; padding-bottom: 35px;}
.pro-center .leftmore a{ font-size: 16px; color: #000; display: block; padding: 35px 0 15px 0; text-align: center;}
.pro-center .leftmore i{ display: inline-block; vertical-align: middle; height: 4px; width: 4px; border-radius: 100%; margin: 0 5px;
background: #272636;}
.pro-center .leftmore img{ display: block;  margin: 0 auto;}
.pro-center .ul1{ padding-left: 27px; padding-top: 20px; padding-bottom: 20px;}
.pro-center .ul1 li{ position: relative;}
.pro-center .ul1 li a{ font-size: 15px; color: #000; padding: 10px 0px 10px 35px; display: block; transition: all 0.6s;}
.pro-center .ul1 li b{ display: block;  position: absolute; left: 0; width: 10px; height: 1px; background: #aaaaaa;
top: 50%; transform: translateY(-50%); transition: all 0.6s;}
.pro-center .ul1 li.on b,.pro-center .ul1 li:hover b{ width: 31px; background: #DE0024; margin-right: 20px;}
.pro-center .ul1 li.on a,.pro-center .ul1 li:hover a{ color: #DE0024; margin-left: 20px; }

.proright{ padding-left: 20px; width: 940px;}
.proright .top-tu{ margin-left: -6px;}
.proright .top-tu a{ display: block; float: left; position: relative; margin-left: 6px; width: 466px; overflow: hidden;}
.proright .top-tu figure,.proright .top-tu figure img{ display: block; width: 466px; height: 440px; overflow: hidden; transition: all 0.6s;}
.proright .top-tu a:hover figure img{ transform: scale(1.1);}
.proright .top-tu figcaption{ position: absolute; left: 0; right: 0; background: rgba(0,0,0,0.6); padding: 15px; bottom: 0;}
.proright .top-tu h3{ color: #fff; font-size: 18px;}
.proright .top-tu p{ color: #fff; font-size: 14px;}
.proright .bottom-tu{ background: #fff; margin-top: 20px;}
.proright .bottom-tu a{ display: block; float: left;}
.proright .bottom-tu a:nth-child(2){ border:1px solid #F5F5F5; border-top: none; border-bottom: none;} 
.proright .bottom-tu p{ text-align: center; color: #000; font-size: 14px; border-top: 1px solid #F5F5F5; height: 55px; line-height: 55px;
transition: all 0.6s;}
.proright .bottom-tu figure,.proright .bottom-tu figure img{ display: block; width: 302px; height: 260px; overflow: hidden; transition: all 0.6s;}
.proright .bottom-tu a:hover img{ transform: scale(1.1);}
.proright .bottom-tu a:hover p{ color: #DE0024;}
.proright .box{ display: none;}
.proright .box.on{ display: block;}

.hf{ background: url(../img/hf.png) no-repeat top center;  width: 100%; overflow: hidden; height: 280px;}
.hf .p1{ color: #fff; font-size: 26px; padding: 88px 0 30px 0; line-height: 1;}
.hf .p2{ color: #de0024; font-size: 30px; font-weight: bold; line-height: 1;}
.hf a:nth-child(1){ margin-top: 75px;}
.hf a{ display: block; color: #fff; font-size: 22px; width: 200px; height: 50px; line-height: 50px; text-align: center; background: #DE0024;
border-radius: 30px; margin-bottom: 28px; transition: all 0.36s;}
.hf a img{ display: inline-block; vertical-align: middle;}
.hf a:hover{ transform: translateX(10px);}
.hf a:nth-child(2){ background: #f5d200;}

.case-cener { padding-top: 45px ;}
.case-cener ul{ margin-right: -20px;  }
.case-cener li{ float: left; width: 400px; box-shadow: 0 0 5px 0px rgba(0,0,0,0.1); margin-right: 20px; margin-bottom: 20px;}
.case-cener li p{ text-align: center; color: #333; font-size: 16px; height: 65px; line-height: 65px;  transition: all 0.6s;}
.case-cener li figure,.case-cener li figure img{ display: block; width: 400px; height: 300px; overflow: hidden; transition: all 0.6s;}
.case-cener li:hover figure img{ transform: scale(1.1);}
.case-cener li:hover p{ color: #DE0024;}

.culture-center{ background: url(../img/bg.jpg) no-repeat top center; height: 610px; width: 100%; overflow: hidden; padding-top: 55px;
margin-top: 30px; background-size: cover;}
.cul-cont{ padding-top: 40px;}
.culture-center .title h3{ color: #fff;}
.culture-center .title{ background: url(../img/tit2.png) no-repeat top center;}
.culture-center .title p{ color: #fff;}
.cul-right{ background: #fff; width: 560px; height: 320px; padding: 40px 30px;}
.cul-right h2{  font-weight: bold; color: #000; font-size: 22px;}
.cul-right p{ line-height: 30px; font-size: 14px; color: #666; padding-top: 40px;}
.cul-right a{ display: block; background: #DE0024; text-align: center; color: #fff; font-size: 15px; width: 130px; height: 36px; line-height: 36px;
border-radius: 30px; float: right; margin-top: 40px; transition: all 0.6s;}
.cul-right a:hover{ transform: translateX(10px);}



.partner-center{ padding-top: 45px; position: relative; padding-bottom: 25px;}
.partner-center h3 { position: relative; text-transform: uppercase; font-size: 32px; color: #999; font-family: arial; text-align: right;}
.partner-center h3 b{ display: block; position: absolute; height: 1px; width: 820px; background: #F5F5F5; left: 0; top: 50%;
transform: translateY(-50%);}
.partner-center h4{ text-align: right; color: #333; font-size: 22px;}
.partner-center ul{ margin-right: -22px; margin-top: 30px;}
.partner-center li{ float: left; margin-right: 22px; margin-bottom: 20px; margin-top: 20px;}
.partner-center li img{ display: block; width: 157px; height: 72px; overflow: hidden; transition: all 0.6s;}
.partner-center li:hover img{ opacity: 0.6;}
.partner-center .pos{ display: block; position: absolute; left: 0; bottom: 0;}

.news-center{ background: #F5F5F5; padding: 45px 0;}
.news-center .div1{ background: #fff; width: 380px;  height: 460px;}
.news-center .div1:nth-child(2){ margin: 0 20px;}
.news-center .div2{ background: #fff; width: 440px; height: 460px;}
.news-center .div1 h3{ color: #000; font-weight: bold; font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
margin-bottom: 30px; line-height: 1; transition: all 0.36s;}
.news-center .div1 figcaption{ padding: 43px 25px;}
.news-center .div1 p{ line-height: 30px; font-size: 14px; color: #888; height: 60px; overflow: hidden; transition: all 0.6s;}
.news-center .div1 h4{ font-size: 14px; color: #888; font-family: arial; text-transform: uppercase; padding-top: 30px;}
.news-center .div1 figure,.news-center .div1 figure img{ display: block; width: 100%; height: 220px; transition: all 0.6s; overflow: hidden;}
.news-center .div1:hover figure img{ transform: scale(1.1);}
.news-center .div1:hover h3,.news-center .div1:hover p,.news-center .div1:hover h4{ color: #DE0024;}
.news-center .div2 i{ display: inline-block; width: 5px; height: 5px; border-radius:10px; background:#de0024; vertical-align: middle;
margin-right: 10px;}
.news-center .div2 a{ font-size: 14px; color: #000;}
.news-center .div2 ul{ padding:35px 25px 30px 25px;}
.news-center .div2 li{ padding: 10px 0; transition: all 0.36s;}
.news-center .div2 li a{ display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; transition: all 0.36s;}
.news-center .div2 li:hover a{ color: #DE0024;}
.news-center .div2 li:hover{ transform: translateX(10px);}


.dibu{ background: #004ea2; padding: 40px 0;}
.dibu h3{ color: #fff; font-weight: bold; font-size: 18px; padding-bottom: 20px;}
.dibu .div1 p{ color: #fff; opacity: 0.61; font-size: 14px; line-height: 30px;}
.dibu .div2 a{ display: inline-block; color: #fff; font-size: 14px; width: 100px; padding: 5px 0; transition: all 0.6s;}
.dibu .div2 a:hover{ transform: translateX(5px);}
.dibu .div2 { border-left: 1px solid #3371b5; border-right: 1px solid #3371b5; padding: 0 80px 0 100px; margin:0 120px 0 140px}
.dibu .div3 p{ color: #fff; font-size: 14px; text-align: center;}
.dibu .div3 div{ margin-left: 30px;}


.youlian{ padding: 20px 0 20px 0; }
.youlian .div1{ margin-top: 10px;}
.youlian .w1240{ position: relative;}
.youlian span{ color: #000; font-size: 18px;}
.youlian p a{ display: inline-block; width: 120px; color: #333; font-size: 14px; transition: all 0.36s; text-align: center;}
.youlian p a:hover{ color: #DE0024; transform: translateX(5px);}
.youlian .div2 ul{ position: absolute; background: #333; right: 0; top: -97px; width: 120px; display: none; padding: 10px 0;}
.youlian .div2 li a{ text-align: center; display: block; color: #fff; font-size: 14px; padding: 5px 0;}
.youlian .div2 h3{ background:#DE0024; height: 30px; width: 120px; color: #fff; line-height: 30px; text-align: center; font-size: 14px;
cursor: pointer; border-radius: 20px;}
.youlian .div2 h3 img{ display: inline-block; vertical-align: middle; margin-left: 10px;}
.youlian .div2{ margin-top: 10px;}

.neibanner{ width: 100%; overflow: hidden;}
.neibanner img{width: 100%; height: auto; display: block;}


.casepage{ background: #F5F5F5; padding: 45px 0;}
.casepage  .case-left{ width: 220px; }
.casepage .case-left .div1{ background: #fff;}
.casepage .case-left .div2,.casepage .case-left .div3{ background: #fff; margin-top: 25px;}
.casepage .case-left .div3 li{ transition: all 0.6s;}
.casepage .case-left .div3 li a{ display: block; color: #333; font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
padding: 10px 0; transition: all 0.6s;}
.casepage .case-left .div3 li i{ display: inline-block; height: 5px; width: 5px; border-radius: 100%; background: #DE0024;
vertical-align: middle; margin-right: 10px;}
.casepage  .case-right{ background: #fff; width: 1000px;}
.casepage .casetit{ background: #DE0024;  padding: 30px;}
.casepage .casetit h3{ font-weight: bold; color: #fff; font-size: 22px;  text-align: left;}
.casepage .casetit h3 b{ display: block; font-weight: normal; font-family: "times new roman"; font-size: 16px; padding-top: 10px;}
.casepage .ul1 li{ transition: all 0.36s;}
.casepage .ul1 li a{ display: block; padding: 10px 0; font-size: 15px; color: #333; transition: all 0.6s;  overflow: hidden; clear: both;}
.casepage .ul1 a i{ background: url(../img/gengduo.png) no-repeat center; display: inline-block; width:14px; height:14px; float: right;
margin-top: 5px; background-size: 100% 100%;}
.casepage .ul1{padding-left: 30px;  padding-right:30px; padding-top: 20px; padding-bottom: 20px;}
.casepage .ul1 li:hover{ transform: translateX(10px);}
.casepage .ul1 li:hover a{ color: #DE0024;}
.casepage .div2-box h2,.casepage .div3-box h2{  font-size: 20px; font-weight: bold; padding-bottom: 15px;}
.casepage .div2-box  img{ width: 150px;}
.casepage .div2-box,.casepage .div3-box{ padding-left: 30px; padding: 30px;}
.casepage .div2-box p{  font-size: 14px; color: #333; padding-top: 10px;}
.casepage .div3-box li:hover a{ color: #DE0024;}
.casepage .div3-box li:hover{ transform: translateX(5px);}
.casepage .mainbox{ padding:20px 30px;}
.breadcrumb{ border-bottom: 1px solid #F5F5F5; position: relative; height: 50px;}
.breadcrumb h3{ font-size: 16px; color: #000; height: 40px; line-height: 40px;  font-weight: bold;}
.breadcrumb h3 b{ display: block; position: absolute; left: 0; bottom: 0; background: #DE0024; height: 1px; width: 70px;}
.breadcrumb div.fr a{ display: inline-block; color: #333; font-size: 14px; margin: 0 5px; height: 40px; line-height: 40px;}
.breadcrumb div.fr img{ display: inline-block; vertical-align: middle; margin-right: 10px;}
.breadcrumb div.fr{ color: #666;}
.breadcrumb div.fr a:hover,.breadcrumb div.fr a.on{ color: #DE0024;}
.caesp-list ul{ padding-top: 25px; margin-right: -25px;}
.caesp-list li{ float: left; width:290px; position: relative; margin-bottom: 20px; margin-right: 30px;}
.caesp-list li figure,.caesp-list li figure img{ width: 290px; height: 270px; overflow: hidden; transition: all 0.6s;}
.caesp-list li figcaption{ overflow: hidden; clear: both;}
.caesp-list li p{ color: #333; font-size: 16px; padding: 15px 0 0 0; float: left;}
.caesp-list li span{ display: inline-block; vertical-align: middle; height: 1px; background: #f5f5f5; width: 0; float: left;
margin-top: 30px; margin-right: 10px; transition: all .36s;}
.caesp-list li:hover span{ background:#de0024; width: 60px;}
.caesp-list li:hover figure img{ transform: scale(1.1);}

.pager{ height:50px; padding:35px 0 0px 30px; text-align:center; padding-bottom:30px; width: 420px; margin:auto;}
.pager a{ display:inline-block; background:#fff; width:45px; height:40px; line-height:45px; vertical-align:middle; margin-left:-1px; float:left; 
font-size:14px; border:1px #e0e0e0 solid; color:#666; transition: all 0.36s;}
.pager a:hover{ color:#fff; background:#DE0024; transition:all s0.3s ease 0s;}
.pager a.current{ color:#fff; background:#DE0024;}

.newp-list ul{ padding-top: 15px;}
.newp-list li{ position: relative; transition: all 0.6s; }
.newp-list li a{ display: block; overflow: hidden; clear: both; padding: 20px 0; border-bottom: 1px solid #F5F5F5;}
.newp-list .time{ width: 60px; height: 60px; /*border-left: 1px solid #F5F5F5; border-right: 1px solid #F5F5F5;*/ background: #DE0024;
position: absolute; top: 20px; left: 0; z-index: 33;}
.newp-list strong{ display: block; font-size: 20px; text-align: center; color: #fff; padding-top: 5px;}
.newp-list span{ display: block; color: #fff; font-size: 16px; text-align: center;}
.newp-list figure img,.newp-list figure{ width: 260px; height: 150px; overflow: hidden; transition: all 0.6s;}
.newp-list li:hover figure img{ transform: scale(1.1);}
.newp-list figcaption{ width: 650px; padding-left: 30px;}
.newp-list figcaption h2{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 16px; color: #000;
margin-top: 10px; font-weight: bold;}
.newp-list figcaption p{ line-height: 30px; height: 60px; overflow: hidden; font-size: 14px; color: #666; margin-top: 10px;}
.newp-list figcaption i{ background: url(../img/arrow-right.png) no-repeat right center; padding-right: 40px;
font-size: 14px; display: inline-block; color: #000; margin-top: 20px;}
.newp-list li:hover{ transform: translateX(10px);}
.newp-list li:hover h2{ color: #DE0024;}

.detailp-cont{ padding-top: 30px;}
.news-detail h2{  font-size: 22px; font-weight: bold; color: #000; text-align: center; }
.news-detail .fabu{ text-align: center;  border-bottom: 1px solid #F5F5F5; padding-bottom: 20px;}
.news-detail .fabu span{ display: inline-block; padding:10px; font-size: 14px; color: #666; }
.news-detail p{ line-height: 36px; margin:10px 0; text-indent: 1em; font-size: 14px; color: #333; }
.news-detail p img{ margin:auto; display: block; max-width: 100%; }
.fenpian{ margin-top: 25px; border-top: 1px solid #f9f9f9; padding-top: 20px; position: relative; }
.fenpian span{ font-size: 14px;  color: #000 !important; display: inline-block; float: left; margin:0 15px 0 0 !important; padding:0 !important; vertical-align: middle;}
.fenpian p{ float: left;  }
.fenpian>div{ padding:10px 0;}
.fenpian p a{ font-size: 14px; color: #555; display: block;  line-height: 1; transition: all 0.6s;}
.fenpian div:hover a{ color: #DE0024; }
.fenpian .fanhui{ display: block; position: absolute; right: 10px; background: #DE0024; color: #fff; padding:10px 25px; border-radius: 10px; 
top: 35px;}